.slider {
    width: 100%;
    max-width: 1400px;
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    /* padding: 5px; */
    padding-top: 80px;
    padding-bottom: 20px;
    /* border-radius: 20px; */

}

.sliderDiv1 {

    width: 100%;
    height: 100%;
    /* border: 2px solid white; */
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    background-color: black;
    border-radius: 10px;
    overflow: hidden;
}

.Icontainer {
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: row;
    width: 400px;
    height: 200px;
    /* border: 2px solid white; */
}

.float {
    position: absolute;
    width: 100px;
    height: 100px;
}

.imageFixer{
    width: 100%;
    max-width: 1400px;
    height: auto;
    border: 2px solid white;
    border-radius: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
}